<div class="bg">
  <div class="container">
    <div class="contact-panel row">
      <div class="contact-list col-6 col-sm-4">
        <div class="row">
          <div class="contact-list-header">
            <h3 class="contact-list-title">Contacts</h3>
          </div>
          <div class="contact-list-content">
            <mat-list dense>
              <mat-list-item class="tab">
                <mat-icon style="transform: scale(1.5);">account_circle</mat-icon>
                <h4 class="d-inline" style="padding-left: 10%;padding-top: 4%;">chhdjjj kkff</h4>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="contact-add-button">
            <button color="" mat-fab aria-label="Ajouter un nouveau contact">
              <mat-icon>add</mat-icon>
            </button>
          </div>

        </div>
      </div>
      <div class="contact-info col-12 col-md-8">
        <p>Selectionez un contact pour le visualiser.</p>
      </div>
    </div>

  </div>

</div>